<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ice-creamConnectionString" connectionString="Data Source=DESKTOP-RQN5F4N\SQLEXPRESS01;Initial Catalog=ice-cream;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="ice-creamConnectionString2" connectionString="Data Source=desktop-rqn5f4n\sqlexpress01;Initial Catalog=ice-cream;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="ice-creamConnectionString3" connectionString="Data Source=desktop-rqn5f4n\sqlexpress01;Initial Catalog=ice-cream;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="ice-creamConnectionString4" connectionString="Data Source=desktop-rqn5f4n\sqlexpress01;Initial Catalog=ice-cream;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="ice-creamConnectionString5" connectionString="Data Source=desktop-rqn5f4n\sqlexpress01;Initial Catalog=ice-cream;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>